---
title: Home
layout: default
tab: Home
---

#myCarousel.carousel.slide
  / Carousel items
  .carousel-inner
    .active.item
      %img{:src => "images/carousel/carousel_image_01.jpg"}/
    .item
      %img{:src => "images/carousel/carousel_image_02.jpg"}/
    .item
      %img{:src => "images/carousel/carousel_image_03.jpg"}/
    .item
      %img{:src => "images/carousel/carousel_image_04.jpg"}/
    .item
      %img{:src => "images/carousel/carousel_image_05.jpg"}/
  / Carousel nav
  %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"} &lsaquo;
  %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"} &rsaquo;
.row
  .span4
    %h2 About Dashbuilder
    %p Dashbuilder is a full featured web application which allows non-technical users to visually create business dashboards.
    %p Dashboard data can be extracted from heterogeneous sources of information such as JDBC databases or regular text files.
    %p
      %a.btn{:href => "about.html"} More »
    %h2 UF Dashbuilder
    %p Dashbuilder is being rewritten using the GWT & Uberfire technology. The new version called UF Dashbuilder will be hitting the streets soon with much more features and an amazing user interface!
    %p
      %a.btn{:href => "ufdashbuilder.html"} More »
  .span4
    %h2 Latest News
    %ul.listPosts
      %li
        %span.meta August 25, 2016
        %a{:href => "http://dashbuilder.blogspot.com.es/2016/08/uf-dashbuilder-security-management_86.html", :target => "_blank"} New security management features
        %br/
        %p Find out how administrator users can manage the application's users, groups and permissions using an intuitive and friendly user interface in order to configure who can access the different resources and features available.
      %li
        %span.meta October 30, 2015
        %a{:href => "http://dashbuilder.blogspot.com.es/2015/10/uf-dashbuilder-real-time-dashboard-with.html", :target => "_blank"} Elastic Search integration
        %br/
        %p Discover how to register data sets on top of an Elastic Search server and create both analytical and real-time dashboards.
      %li
        %span.meta July 23, 2014
        %a{:href => "http://dashbuilder.blogspot.com.es/2014/07/new-tabular-reports-component_23.html", :target => "_blank"} New tabular reports component
        %br/
        %p As we mentioned in a previous post (Rich interactive dashboards in uberfire), the data viewer layer is not tied to just one type of visualization technology, but instead supports pluggable renderers...
      %li
        %span.meta July 22, 2014
        %a{:href => "http://dashbuilder.blogspot.com.es/2014/07/an-introduction-to-displayer-filtering.html", :target => "_blank"} An introduction to displayer filtering
        %br/
        %p One of the most interesting features of interactive dashboards is the fact that they consist of data visualization components that can be made responsive to events that happen...
        %br/
      %li
        %span.meta June 25, 2014
        %a{:href => "http://dashbuilder.blogspot.com.es/2014/06/rich-interactive-dashboards-in-uberfire.html", :target => "_blank"} Rich Interactive Dashboards in Uberfire
        %br/
        %p Uberfire is one of the latest & coolest projects within JBoss middleware. The Uberfire project was kicked off about two years ago...
        %br/
    %p
      %a.btn{:href => "http://dashbuilder.blogspot.com/", :target => "_blank"} More »
  .span4
    %h2 Social Stream
    %a.twitter-timeline{"data-widget-id" => "426303823263457280", :href => "https://twitter.com/search?q=%40dashbuilder"} Tweets about "@dashbuilder"
    :javascript
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
