---
title: Home
layout: default
tab: Home
---

#myCarousel.carousel.slide
  / Carousel items
  .carousel-inner
    .active.item
      %img{:src => "images/carousel/carousel_image_01.jpg"}/
    .item
      %img{:src => "images/carousel/carousel_image_02.jpg"}/
    .item
      %img{:src => "images/carousel/carousel_image_03.jpg"}/
    .item
      %img{:src => "images/carousel/carousel_image_04.jpg"}/
    .item
      %img{:src => "images/carousel/carousel_image_05.jpg"}/
  / Carousel nav
  %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"} &lsaquo;
  %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"} &rsaquo;
.row
  .span4
    %h2 About Dashbuilder
    %p Dashbuilder is a full featured web application which allows non-technical users to visually create business dashboards.
    %p Dashboard data can be extracted from heterogeneous sources of information such as JDBC databases or regular text files.
    %p
      %a.btn{:href => "about.html"} More »
  .span4
    %h2 Latest News
    %ul.listPosts
      %li
        / %span.name Lorem Ipsum
        %span.meta March 06, 2015
        %a{:href => "http://dashbuilder.blogspot.com.es/2015/03/dashbuilder-620-released.html", :target => "_blank"} Dashbuilder 6.2.0 released
        %br/
        %p Improved import/export support for unnattended dashboard deployment. Weblogic 12c and Sybase DB supported ...
      %li
        / %span.name Lorem Ipsum
        %span.meta December 19, 2014
        %a{:href => "http://dashbuilder.blogspot.com.es/2014/12/using-flltered-sql-queries-for-building.html", :target => "_blank"} Using filtered SQL queries for building big data dashboards
        %br/
        %p Must of the time, our data sets are bigger and we can't upload all the data for Dashbuilder to handle it by its own. Is in these cases where database backed queries can help us ...
      %li
        / %span.name Lorem Ipsum
        %span.meta August 06, 2014
        %a{:href => "http://dashbuilder.blogspot.com.es/2014/08/dashbuilder-610-released.html", :target => "_blank"} Dashbuilder 6.1.0 released
        %br/
        %p It's been 7 months after the latest release of Dashbuilder. During this time we've spent most of the time testing the application on other platforms such as WebSphere or WildFly ...
      %li
        / %span.name Lorem Ipsum
        %span.meta July 23, 2014
        %a{:href => "http://dashbuilder.blogspot.com.es/2014/07/new-tabular-reports-component_23.html", :target => "_blank"} New tabular reports component
        %br/
        %p As we mentioned in a previous post (Rich interactive dashboards in uberfire), the data viewer layer is not tied to just one type of visualization technology, but instead supports pluggable renderers...
      %li
        / %span.name Lorem Ipsum
        %span.meta July 22, 2014
        %a{:href => "http://dashbuilder.blogspot.com.es/2014/07/an-introduction-to-displayer-filtering.html", :target => "_blank"} An introduction to displayer filtering
        %br/
        %p One of the most interesting features of interactive dashboards is the fact that they consist of data visualization components that can be made responsive to events that happen...
        %br/
      %li
        / %span.name Lorem Ipsum
        %span.meta June 25, 2014
        %a{:href => "http://dashbuilder.blogspot.com.es/2014/06/rich-interactive-dashboards-in-uberfire.html", :target => "_blank"} Rich Interactive Dashboards in Uberfire
        %br/
        %p Uberfire is one of the latest & coolest projects within JBoss middleware. The Uberfire project was kicked off about two years ago...
        %br/
    %p
      %a.btn{:href => "http://dashbuilder.blogspot.com/", :target => "_blank"} More »
  .span4
    %h2 Social Stream
    %a.twitter-timeline{"data-widget-id" => "426303823263457280", :href => "https://twitter.com/search?q=%40dashbuilder"} Tweets about "@dashbuilder"
    :javascript
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
