---
title: Commercial support
layout: default
---

.breadcrumb
  %a.breadcrumb_anchor{:href => relative("/index.html")} Home
  \/ Get Help /
  %a.breadcrumb_anchor.active{:href => relative("/help/paid_support.html")} Commercial support
.row-fluid
  #equalHeightsLayout
    #maincol.span9
      .row-fluid
        %h1 Commercial support
        %p Red Hat offers support subscription for Dashbuilder as part of its Red Hat JBoss BPM Suite 6.0 platform.
        %p
          %a{:href => "http://www.redhat.com/products/jbossenterprisemiddleware/business-process/", :target => "_blank"} More information
        %hr/
    #rightcol.span3.well
      = partial ( 'latestNews.html.haml' )
