%h2 Latest News
%ul.listPosts
  %li
    %span.meta March 06, 2015
    %a{:href => "http://dashbuilder.blogspot.com.es/2015/03/dashbuilder-620-released.html", :target => "_blank"} Dashbuilder 6.2.0 released
    %br/
    %p Improved import/export support for unnattended dashboard deployment. Weblogic 12c and Sybase DB supported ...
  %li
    %span.meta December 19, 2014
    %a{:href => "http://dashbuilder.blogspot.com.es/2014/12/using-flltered-sql-queries-for-building.html", :target => "_blank"} Using filtered SQL queries for building big data dashboards
    %br/
    %p Must of the time, our data sets are bigger and we can't upload all the data for Dashbuilder to handle it by its own. Is in these cases where database backed queries can help us to implement nice drill down reports and charts without preloading all the data.
  %li
    %span.meta August 06, 2014
    %a{:href => "http://dashbuilder.blogspot.com.es/2014/08/dashbuilder-610-released.html", :target => "_blank"} Dashbuilder 6.1.0 released
    %br/
    %p It's been 7 months after the latest release of Dashbuilder. During this time we've spent most of the time testing the application on other platforms such as WebSphere or WildFly...
  %li
    %span.meta July 23, 2014
    %a{:href => "http://dashbuilder.blogspot.com.es/2014/07/new-tabular-reports-component_23.html", :target => "_blank"} New tabular reports component
    %br/
    %p As we mentioned in a previous post (Rich interactive dashboards in uberfire), the data viewer layer is not tied to just one type of visualization technology, but instead supports pluggable renderers...
    %br/
  %li
    %span.meta July 22, 2014
    %a{:href => "http://dashbuilder.blogspot.com.es/2014/07/an-introduction-to-displayer-filtering.html", :target => "_blank"} An introduction to displayer filtering
    %br/
    %p One of the most interesting features of interactive dashboards is the fact that they consist of data visualization components that can be made responsive to events that happen...
    %br/
  %li
    %span.meta June 25, 2014
    %a{:href => "http://dashbuilder.blogspot.com.es/2014/06/rich-interactive-dashboards-in-uberfire.html", :target => "_blank"} Rich Interactive Dashboards in Uberfire
    %br/
    %p Uberfire is one of the latest & coolest projects within JBoss middleware. The Uberfire project was kicked off about two years ago...
    %p
      %a.btn{:href => "http://dashbuilder.blogspot.com/", :target => "_blank"} More »
