%h2 Latest News
%ul.listPosts
  %li
    / %span.name Lorem Ipsum
    %span.meta June 25, 2014
    %a{:href => "http://dashbuilder.blogspot.com.es/2014/06/rich-interactive-dashboards-in-uberfire.html", :target => "_blank"} Rich Interactive Dashboards in Uberfire
    %br/
    %p Uberfire is one of the latest & coolest projects within JBoss middleware. The Uberfire project was kicked off about two years ago...
    %br/
  %li
    / %span.name Lorem Ipsum
    %span.meta Mar 11, 2014
    %a{:href => "http://dashbuilder.blogspot.com.es/2014/03/embed-kpi-chart-into-your-web-app.html", :target => "_blank"} Embed a KPI chart into your web app
    %br/
    %p Recently, a new cool feature has been added to the Dashbuilder echosystem: the ability to embed dashboard charts into your own web app via a lightweight easy to use JavaScript API...
    %br/
  %li
    / %span.name Lorem Ipsum
    %span.meta Feb 24, 2014
    %a{:href => "http://dashbuilder.blogspot.com.es/2014/02/the-dashbuilder-demo-gets-docker-ized.html", :target => "_blank"} The Dashbuilder demo gets Docker-ized
    %br/
    %p During the last week I've been playing a little with Docker. Docker is an open-source virtualization technology that automates the deployment...
    %p
      %a.btn{:href => "http://dashbuilder.blogspot.com/", :target => "_blank"} More »
