%h2 Latest News
%ul.listPosts
  %li
    %span.meta October 30, 2015
    %a{:href => "http://dashbuilder.blogspot.com.es/2015/10/uf-dashbuilder-real-time-dashboard-with.html", :target => "_blank"} Elastic Search integration
    %br/
    %p Discover how to register data sets on top of an Elastic Search server and create both analytical and real-time dashboards.
  %li
    %span.meta December 19, 2014
    %a{:href => "http://dashbuilder.blogspot.com.es/2014/12/using-flltered-sql-queries-for-building.html", :target => "_blank"} Using filtered SQL queries for building big data dashboards
    %br/
    %p Must of the time, our data sets are bigger and we can't upload all the data for Dashbuilder to handle it by its own. Is in these cases where database backed queries can help us to implement nice drill down reports and charts without preloading all the data.
  %li
    %span.meta July 23, 2014
    %a{:href => "http://dashbuilder.blogspot.com.es/2014/07/new-tabular-reports-component_23.html", :target => "_blank"} New tabular reports component
    %br/
    %p As we mentioned in a previous post (Rich interactive dashboards in uberfire), the data viewer layer is not tied to just one type of visualization technology, but instead supports pluggable renderers...
    %br/
  %li
    %span.meta July 22, 2014
    %a{:href => "http://dashbuilder.blogspot.com.es/2014/07/an-introduction-to-displayer-filtering.html", :target => "_blank"} An introduction to displayer filtering
    %br/
    %p One of the most interesting features of interactive dashboards is the fact that they consist of data visualization components that can be made responsive to events that happen...
    %br/
  %li
    %span.meta June 25, 2014
    %a{:href => "http://dashbuilder.blogspot.com.es/2014/06/rich-interactive-dashboards-in-uberfire.html", :target => "_blank"} Rich Interactive Dashboards in Uberfire
    %br/
    %p Uberfire is one of the latest & coolest projects within JBoss middleware. The Uberfire project was kicked off about two years ago...
    %p
      %a.btn{:href => "http://dashbuilder.blogspot.com/", :target => "_blank"} More »
